.laptop1 {
    background-color: #f6f6f6;
    padding: 90px 0;
}

.container {
    max-width: 1140px;
}

.laptop1_img figure img {
    width: 100%;
}

.laptop1 .titlepage {
    text-align: right;
}

.laptop1 .titlepage h2 {
    max-width: inherit;
    border: inherit;
    color: #000;
}

.laptop1 .titlepage p {
    padding: 30px 0;
    color: #000;
}

.read_more {
    font-size: 17px;
    background-color: #48ca95;
    color: #fff !important;
    padding: 13px 0;
    width: 100%;
    max-width: 190px;
    text-align: center;
    display: inline-block;
    transition: ease-in all .5s;
    font-weight: 500;
}
footer{
    background-image: url(../img/footer.jpg);
    background-color: black;
    text-align: right;
    overflow: auto;
    border-top: 1px solid #96bbaa;
    color: white;
    }
    
.footerblock{
    text-align: center;
    float: right;
    width: 26%;
    margin-left: 2em;
    border-left:  1px solid #96bbaa;
      
    }
header{
    background-color: #4b46a4;
    height: 100px;
    border-bottom: 1px solid #5be6a5 ;
    position: sticky;
    top: 0;
    z-index: 2;
    overflow: hidden;
 
    /* width: 100%; */
    }
    
button.btn-nav{
    background-color: transparent;
    border: hidden;
    }
    
button.btn-nav:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    }
    
button.btn-nav>a{
    color: white;
    text-decoration: none;
    }
    
.logo{
    float: left;
    }
    
nav{
    float: right;
    text-align: right;
    
    }
    
nav li{
    display: inline;
    padding-right: 25px;
    }
    
img.cart{
    border: 1px solid green;
    }
    
input.search-bar{
    position:relative;
    bottom: 0;
    }
    
button{
    background-color: #5be6a5;
    color: white;
    border-radius: 10px;
    font-size: 17px;
    padding: 6px 3px;
    text-transform: uppercase;
    font-weight: 500;
    /* font-family:  Arial, Helvetica, sans-serif; */
    }