body{
    /* text-align: left; */
    /* width: 100%; */
}
.main{
    background-image: url(../img/background.jpg) ;
}
header{
    background-color: #4b46a4;
    height: 150px;
    /* width: 100%; */
}

figure{
    /* vertical-align: middle; */
    width: 100%;
    /* margin: auto; */
    margin-left: 0;
    /* display: block; */
    /* clear: both; */
    /* height: 200px; */
}

.left-figure{
width: 40%;
position: relative;
top: 80px;
}

img.banner-home{
float: right;
width: 50%;
/* height: 200px; */

}

.sale img{
    width: 100%;
    /* height: 100%; */
    object-fit:fill;
}

.logo{
    float: left;
}

nav{
    float: right;
    text-align: right;
}

nav ul{
/* clear: right; */
/* display: inline-block; */
}

nav li{
    display: inline;
}

div.computer, div.laptop, div.tablet{
    display: block;
    float: left;
    clear: right;
    width: 33%;
    text-align: center;
}

