body{
    text-align: left;
}
header{
    background-color: #4b46a4;
    
}
logo{
    flex: 0 0 25%;
    max-width: 25%;
    float: left;
    display: flex;
}
navbar{
    display: flex;
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
    width: 100%;
    padding: 15px 0 15px 50px;
}
navunder{
    float: right;
    padding-top: 30px !important;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    position: relative;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    padding-right: 10px;
    flex-direction: row;
    margin-right: auto !important;

}